<div class="outer-layer mx-auto shadow-lg">
  <h1 class="text-center display-4 mb-5">Log In</h1>
  <form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Enter your email" required />
    <input
      type="password"
      name="password"
      placeholder="Enter password"
      required
    />
    <input type="submit" value="Login" class="btn btn-info" />
  </form>
  <div class="d-flex justify-content-between mx-3 flex-wrap">
    <p class="btn btn-danger">
      <a href="/users/auth/google" class="text-white"
        >Login Using <i class="fa fa-google-plus" aria-hidden="true"></i
      ></a>
    </p>
    <p class="btn btn-success">
      <a href="/users/register" class="text-white">Create New Account</a>
    </p>
  </div>
</div>
