<div class="outer-layer mx-auto shadow-lg">
  <h1 class="text-center display-4 mb-5">Sign Up</h1>
  <form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Enter your name" required />
    <input type="email" name="email" placeholder="Enter your email" required />
    <input
      type="password"
      name="password"
      placeholder="Set password"
      required
    />
    <input
      type="password"
      name="confirm_password"
      placeholder="Enter your name"
      required
    />
    <input type="submit" value="Sign Up" class="btn btn-info" />
  </form>
  <div class="d-flex justify-content-between mx-3 flex-wrap">
    <p class="btn btn-danger">
      <a href="/users/auth/google" class="text-white"
        >Login Using <i class="fa fa-google-plus" aria-hidden="true"></i
      ></a>
    </p>

    <p class="">
      Have an Account ?
      <a href="/users/login" class="text-white btn btn-success"> Login</a>
    </p>
  </div>
</div>
